.vscode/dealing_with_docs.code-workspace
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdfunite.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdftotext.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdftops.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdftoppm.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdftohtml.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdftocairo.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdfseparate.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdfinfo.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdfimages.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdffonts.1
cleaning_volume/libs/poppler-0.68.0/share/man/man1/pdfdetach.1
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-font.h
cleaning_volume/libs/poppler-0.68.0/lib/pkgconfig/poppler.pc
cleaning_volume/libs/poppler-0.68.0/lib/pkgconfig/poppler-splash.pc
cleaning_volume/libs/poppler-0.68.0/lib/pkgconfig/poppler-cpp.pc
cleaning_volume/libs/poppler-0.68.0/lib/pkgconfig/poppler-cairo.pc
cleaning_volume/libs/poppler-0.68.0/lib/libpoppler.dll.a
cleaning_volume/libs/poppler-0.68.0/lib/libpoppler-cpp.dll.a
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-version.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-toc.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-rectangle.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-page.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-page-transition.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-page-renderer.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-image.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-global.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-embedded-file.h
cleaning_volume/libs/poppler-0.68.0/include/poppler/cpp/poppler-document.h
cleaning_volume/libs/poppler-0.68.0/bin/zlib1.dll
cleaning_volume/libs/poppler-0.68.0/bin/README-XPDF
cleaning_volume/libs/poppler-0.68.0/bin/pdfunite.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdftotext.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdftops.exe
cleaning_volume/libs/poppler-0.68.0/bin/README
cleaning_volume/libs/poppler-0.68.0/bin/pdftoppm.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdftohtml.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdftocairo.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdfseparate.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdfinfo.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdfimages.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdffonts.exe
cleaning_volume/libs/poppler-0.68.0/bin/pdfdetach.exe
cleaning_volume/libs/poppler-0.68.0/bin/libtiff3.dll
cleaning_volume/__pycache__/split_pdf.cpython-37.pyc
cleaning_volume/input_pages/pdf_pages_sample1_VOL1/NT-PSP-002-V03-FORMATO-DOCUMENTOS-PDF-A.pdf_page_0.jpg
cleaning_volume/input_pages/pdf_pages_sample1_VOL1/NT-PSP-002-V03-FORMATO-DOCUMENTOS-PDF-A.pdf_page_1.jpg
cleaning_volume/input_pages/pdf_pages_sample1_VOL1/NT-PSP-002-V03-FORMATO-DOCUMENTOS-PDF-A.pdf_page_2.jpg
cleaning_volume/input_pages/pdf_pages_sample1_VOL1/NT-PSP-002-V03-FORMATO-DOCUMENTOS-PDF-A.pdf_page_3.jpg
cleaning_volume/input_pages/pdf_pages_sample1_VOL1/NT-PSP-002-V03-FORMATO-DOCUMENTOS-PDF-A.pdf_page_4.jpg
cleaning_volume/libs/poppler-0.68.0/bin/AUTHORS
cleaning_volume/libs/poppler-0.68.0/bin/BINARIES
cleaning_volume/libs/poppler-0.68.0/bin/COPYING
cleaning_volume/libs/poppler-0.68.0/bin/COPYING3
cleaning_volume/libs/poppler-0.68.0/bin/freetype6.dll
cleaning_volume/libs/poppler-0.68.0/bin/jpeg62.dll
cleaning_volume/libs/poppler-0.68.0/bin/libcairo-2.dll
cleaning_volume/libs/poppler-0.68.0/bin/libexpat-1.dll
cleaning_volume/libs/poppler-0.68.0/bin/libfontconfig-1.dll
cleaning_volume/libs/poppler-0.68.0/bin/libgcc_s_dw2-1.dll
cleaning_volume/libs/poppler-0.68.0/bin/libpixman-1-0.dll
cleaning_volume/libs/poppler-0.68.0/bin/libpng16-16.dll
cleaning_volume/libs/poppler-0.68.0/bin/libpoppler-79.dll
cleaning_volume/libs/poppler-0.68.0/bin/libpoppler-cpp-0.dll
cleaning_volume/libs/poppler-0.68.0/bin/libstdc++-6.dll
dealing_with_docs/libs/poppler-0.68.0/bin/README-XPDF
dealing_with_docs/libs/poppler-0.68.0/bin/zlib1.dll
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-document.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-embedded-file.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-font.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-global.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-image.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-page-renderer.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-page-transition.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-page.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-rectangle.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-toc.h
dealing_with_docs/libs/poppler-0.68.0/include/poppler/cpp/poppler-version.h
dealing_with_docs/libs/poppler-0.68.0/lib/libpoppler-cpp.dll.a
dealing_with_docs/libs/poppler-0.68.0/lib/libpoppler.dll.a
dealing_with_docs/libs/poppler-0.68.0/lib/pkgconfig/poppler-cairo.pc
dealing_with_docs/libs/poppler-0.68.0/lib/pkgconfig/poppler-cpp.pc
dealing_with_docs/libs/poppler-0.68.0/lib/pkgconfig/poppler-splash.pc
dealing_with_docs/libs/poppler-0.68.0/lib/pkgconfig/poppler.pc
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdfdetach.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdffonts.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdfimages.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdfinfo.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdfseparate.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdftocairo.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdftohtml.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdftoppm.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdftops.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdftotext.1
dealing_with_docs/libs/poppler-0.68.0/share/man/man1/pdfunite.1
dealing_with_docs/libs/poppler-0.68.0/bin/AUTHORS
dealing_with_docs/libs/poppler-0.68.0/bin/BINARIES
dealing_with_docs/libs/poppler-0.68.0/bin/COPYING
dealing_with_docs/libs/poppler-0.68.0/bin/COPYING3
dealing_with_docs/libs/poppler-0.68.0/bin/freetype6.dll
dealing_with_docs/libs/poppler-0.68.0/bin/jpeg62.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libcairo-2.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libexpat-1.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libfontconfig-1.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libgcc_s_dw2-1.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libpixman-1-0.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libpng16-16.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libpoppler-79.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libpoppler-cpp-0.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libstdc++-6.dll
dealing_with_docs/libs/poppler-0.68.0/bin/libtiff3.dll
dealing_with_docs/libs/poppler-0.68.0/bin/pdfdetach.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdffonts.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdfimages.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdfinfo.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdfseparate.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdftocairo.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdftohtml.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdftoppm.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdftops.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdftotext.exe
dealing_with_docs/libs/poppler-0.68.0/bin/pdfunite.exe
